<div pAnimateOnScroll enterClass="fadeindown animation-ease-in-out animation-duration-1000" leaveClass="fadeinup animation-ease-in-out animation-duration-1000" *ngIf="!product.shimmer"
     [routerLink]="['/products', product.link || product.id]"
  [state]="product"
  class=" flex flex-column justify-content-between h-full w-full p-3 border-round-md surface-card shadow-2 hover:shadow-4 cursor-pointer transition-all transition-duration-300 hover:bg-primary-100"
>
  <!-- Product Image -->
  <div class="w-full flex justify-content-center border-round max-h-20rem">
    <img *ngIf="!product.shimmer"
      [src]="product.imageUrl"
      [alt]="product?.name"
      class="w-full border-round"
      style="object-fit: fill;"
    />
  </div>

  <!-- Product Details -->
  <div  class="text-center flex-grow-1 mt-3">
    <h3 class="text-lg font-semibold text-gray-800 mb-1">{{ product?.name }}</h3>
    <p
      class="text-sm text-gray-600 white-space-normal overflow-hidden text-overflow-ellipsis"
        style="
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.5rem;
        height: 3rem;
      "
    >
      {{ product?.shortDescription }}
    </p>
  </div>

  <!-- Action Button -->
  <div class="flex justify-content-center mt-3">
    <p-button size="small"
      label="View Product"
      icon="pi pi-eye"
    ></p-button>
  </div>
</div>

<div pAnimateOnScroll enterClass="fadein animation-duration-1000" *ngIf="product.shimmer">
  <p-skeleton styleClass="m-2" width="100%" height="250px" />
  <p-skeleton styleClass="m-2" width="100%" height="50px" />
</div>


