<div class="p-5 col-11 sm:col-11 md:col-6 lg:col-6 m-auto">
  <p-card header="Contact Us">
    <div class="">
      <div class="field col-12">
        <label for="firstname1">Firstname</label>
        <input id="firstname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
      <div class="field col-12">
        <label for="lastname1">Lastname</label>
        <input id="lastname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
      <div class="field col-12">
        <label for="email">Email</label>
        <input id="email" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
      <div class="field col-12">
        <label for="message">Message</label>
        <input id="message" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
      <div class="flex justify-content-end mr-1">
        <p-button label="Submit"></p-button>

      </div>
    </div>

  </p-card>


</div>
