<div class="grid justify-content-center">
  <div class="flex col-11 sm:col-11 md:col-10 lgcol-8 flex-column gap-5">
    <p-card styleClass="mt-5" header="About Us">
      <div class="flex flex-column sm:flex-column md:flex-row lg:flex-row justify-content-center  ">
        <div class="flex-1">
          <div class="flex align-items-center border-bottom-1 surface-border w-full">
            <p class="line-height-3 px-5 text-justify">
              In the year 2015, Munni Enterprise extended its business operation from supply business to a full time
              company with ensuring quality product and technical support to the animal health & fisheries sector of
              Bangladesh With this view, M. M Animal Health, a sister concern of Munni Enterprise was established in
              2015
              to ensure world class nutritional products and feed additives, comprises an extensive catalogue of
              pharmacological products, pesticide, feed premix, nutritional formulations & other feed additives of
              livestock, poultry & aquaculture. A Strong & dedicated sales and marketing team, experienced veterinarians
              &
              technical personnel are working with the company. Constant contact between our technical and sales team
              and
              the livestock industry ensures quality assurance of livestock productivity. we are continuously updated
              with
              the market need and modern technology which gives us a clear vision for the future. The company intends to
              keep its contribution to regain upholding the poultry, livestock and fishery industry in Bangladesh with
              its
              sincerity and cooperation. Reputation & prayer from the farmer is the aim of the company.
              <br>
            </p>
          </div>
          <div class="flex justify-content-center align-items-center surface-border w-full">
            <p class="line-height-3 px-5 text-center">
              <br>
              Animal Health
              <br>

              M.M ANIMAL HEALTH LTD. M/S. MUNNI ENTERPRIES SW INTERNATIONAL LTD.
              <br>

              <i>We believe in quality Dhaka, Bangladesh.</i>

            </p>
          </div>


        </div>
      </div>

    </p-card>

    <p-card styleClass="" header="Mission and Vision">
      <div class="px-5">
        <h3>Mission</h3>
        <p>
          Provide quality products and services for the benefit of animal and human in the best possible way through
          innovation and diversification.
          <br><br>
        </p>
        <h3>Vision</h3>
        <p>


          Our vision is to become a trusted company to ensure better animal health and better human health for everyone,
          everywhere of the globe.
          <br><br>
        </p>

      </div>


    </p-card>
    <p-card styleClass="" header="Our Believes">

      <div class="flex flex-row flex-wrap justify-content-center">
        <div
          *ngFor="let b of believes; index as i;"
          [ngStyle]="{'background-color': getRandomLightColor()}"
          class="flex p-2 m-2 shadow-1 border-round">
          {{ b }}
        </div>
      </div>



    </p-card>

  </div>
</div>

