.gallery-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
}

.gallery-card:hover {
  transform: scale(1.05); /* Smooth hover effect */
}

.gallery-image {
  width: 100%;
  height: 30rem;        /* Fixed height for uniform images */
  object-fit: contain;    /* Ensures the image fits while maintaining aspect ratio */
  border-radius: 8px;
}
