<div class="md:col-10 lg:col-8 m-auto">
  <p-carousel *ngIf="carousel.length"
    [value]="carousel"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="3000"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-product pTemplate="item">
      <div class=" border-none m-2 p-3">
        <div class="mb-3">
          <div class="relative mx-auto w-full">
            <img src="{{product.imageUrl}}" [alt]="product.name" height="300" width="500" class="w-full border-round"/>
            <div class="absolute  p-2 w-full font-bold  text-black-alpha-60"
                 style="height: auto; width: 100%; background: linear-gradient(to bottom, white, transparent);"
                 [ngStyle]="{ 'left.px': 0, 'top.px': 0 }">
              <div class="p-2">
                {{ product.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
  <p-carousel *ngIf="!carousel.length" #shimmer
    [value]="[1,2,3]"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="false"
    [autoplayInterval]="3000"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-product pTemplate="item">
      <div class=" border-none m-2 p-3">
        <div class="mb-3">
          <div class="relative mx-auto w-full">
<!--            <img src="{{product.imageUrl}}" [alt]="product.name" height="300" width="500" class="w-full border-round"/>-->
            <div style="width:500px;height:300px">
              <p-skeleton styleClass="w-full h-full"></p-skeleton>

            </div>
            <div class="absolute  p-2 w-full font-bold  text-black-alpha-60"
                 style="height: auto; width: 100%; background: linear-gradient(to bottom, white, transparent);"
                 [ngStyle]="{ 'left.px': 0, 'top.px': 0 }">
              <div class="p-2">
                {{ product.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
  <div class="flex flex-column gap-5">
    <p-card styleClass="" header="Company Summery">
      <div class="flex flex-column sm:flex-column md:flex-row lg:flex-row justify-content-center  ">
        <div class="flex-1">
          <p class="">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
            containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions
            of Lorem Ipsum.
          </p>


        </div>
        <div class="flex-1">
          <div class="p-3 w-12 sm:w-12 m-auto">
            <p-card header="Message from CEO" subheader="Card Subheader">
              <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png"/>
              </ng-template>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam
                deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse,
                cupiditate
                neque
                quas!
              </p>

            </p-card>
          </div>

        </div>
      </div>

    </p-card>

    <p-card>
      <ng-template pTemplate="header">
        <div class="p-card-body  flex justify-content-between">
          <div class="p-card-title">Products</div>
          <div style="margin-top:-10px">
            <p-button label="All Products" size="small" iconPos="right" icon="pi pi-arrow-right" [outlined]="true"
                      routerLink="products"></p-button>
          </div>
        </div>
      </ng-template>

      <div class="flex flex-wrap justify-content-center">
        <div class="flex" *ngFor="let product of featuredProducts; index as i; ">
          <div [routerLink]="'products/'+product.id"
               class="flex p-card m-2 p-3 cursor-pointer transition-colors transition-duration-500 hover:bg-black-alpha-10 hover:text-gray-900">
            <div class="flex flex-column p-1 w-10rem h-15rem sm:w-10rem sm:h-15rem md:h-25rem md:w-18rem" >
              <div class="flex flex-grow-1">
                <img src="{{product?.imageUrl}}" style="width:100%;height:100%; object-fit: contain" alt="{{product.name}}">
              </div>
              <div class="flex-grow-0">{{ product.name }}</div>
            </div>

          </div>
        </div>

      </div>
      <div #shimmer *ngIf="!featuredProducts.length" class="flex flex-wrap justify-content-center">
        <div class="flex" *ngFor="let product of [1,2,3]; index as i; ">
          <div class="flex p-card m-3 p-3 cursor-pointer transition-colors transition-duration-500 hover:bg-black-alpha-10 hover:text-gray-900">
            <div class="flex flex-column p-1">
              <div class="flex-grow-1">
                <!--            <img ngSrc="{{product.imageUrl || 'a'}}" width="300" height="400" alt="{{product.name}}">-->
                <div style="width:300px;height:400px">
                  <p-skeleton styleClass="w-full h-full" ></p-skeleton>
                </div>
              </div>
              <!--          <div class="text-lg flex-grow-0">{{ product.name }}</div>-->
              <div class="text-lg flex-grow-0 mt-2">
                <p-skeleton></p-skeleton>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="flex justify-content-center p-2">
        <p-button severity="secondary" label="View All Products" routerLink="products"></p-button>

      </div>
    </p-card>

  </div>

</div>
