<p-toolbar>
  <div class="p-toolbar-group-start">

  </div>
  <div class="p-toolbar-group-center">
    <div class="flex flex-column justify-content-center">
      <div routerLink="/" class="flex justify-content-center align-items-center cursor-pointer">
        <img src="/images/logo.png" height="80" alt="mmanimalhealthltd">
        <span class="m-2 text-4xl font-bold">M.M Animal Health</span>
      </div>

      <div class="mt-3">
        <p-menubar styleClass="border-none" [model]="items">
        </p-menubar>
      </div>
    </div>

  </div>


  <div class="p-toolbar-group-end">
  </div>
</p-toolbar>
